* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #223;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.container {
  max-width: 1470px;
  padding: 15px 0;
  margin: 0 auto;
}

.drop-zone {
  max-width: 1211px;
  height: 421px;
  margin: 291px auto 312px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #cccccc;
  border: 2px dashed #FFFFFF;
  border-radius: 15px;
  background: rgba(68, 68, 85, 0.5);
}

.drop-zone .drop-zone__prompt {
  font-family: 'Roboto', sans-serif;
}

.drop-zone .drop-zone__img {
  display: block;
  max-width: 170px;
  height: 80px;
  margin-bottom: 15px;
}

.drop-zone .drop-zone__input {
  display: none;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
