* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background: #223;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.container {
  max-width: 1470px;
  padding: 15px 0;
  margin: 0 auto;
}

.drop {
  padding: 0 15px;

  .container {
    height: 842px;
  }
}

// Converter

.drop-zone {
  max-width: 1211px;
  height: 421px;
  margin: 166px auto 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: #cccccc;

  border: 2px dashed #FFFFFF;
  border-radius: 15px;

  background: rgba(68, 68, 85, 0.5);

  .drop-zone__prompt {
  font-family: 'Roboto', sans-serif;
  }

  .drop-zone__img {
    display: block;
    max-width: 170px;
    height: 80px;
    margin-bottom: 15px;
  }

  .drop-zone__input {
    display: none;
  }
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(68, 68, 85, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
  }
}

// drop-controls

.drop-controls {
  max-width: 1211px;
  margin: 0 auto 166px;
  display: none;

  .drop-controls__container {
    display: flex;
    justify-content: space-between;
  }

  .drop-controls__elements {
    display: flex;
    align-items: center;
    column-gap: 15px;

    .drop-controls__title {
      font-family: 'Fira Sans', sans-serif;
      font-size: 24px;
      font-weight: 400;
    }
  }

  .drop-controls__select {
    display: flex;

    background: #444455;
    border: none;
    border-radius: 15px;
    outline: none;

    width: 186px;
    height: 48px;
    padding: 0 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    color: #FFFFFF;
    cursor: pointer;
  }

  .drop-controls__btn {
    display: flex;

    background-color: #444455;
    border: none;
    border-radius: 15px;

    justify-content: center;
    align-items: center;

    width: 186px;
    height: 48px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    color: #FFFFFF;
    cursor: pointer;
    transition: background-color .3s;
  }
}





