* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background: #223;
  font-family: "Roboto", sans-serif;
  color: #fff;
  position: relative;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.url-shortener {
  padding: 0 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    padding: 105px 0;
  }
}

// copy alert

.copy-alert {
  display: flex;
  justify-content: center;
  align-items: center;

  // width: 250px;
  height: 50px;

  border-radius: 15px;
  background-color: #444455;

  position: absolute;
  left: 15px;
  right: 15px;
  top: 130px;

  transform: translateY(-370%);
  transition: .4s;

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }
}

.copy-alert.active {
  transform: translateY(0%);
}

// url

.url-shortener__container {
  max-width: 800px;
  height: 250px;
  margin: 0 auto;

  background-color: #444455;
  border-radius: 15px;
  padding: 50px;

  .url-shortener__form {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    .url-shortener__title {
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
    }
  }
}

@media (max-width: 768px) {
  .url-shortener__container {
    padding: 20px;
    height: 100%;

    .url-shortener__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
}

.url-shortener__form-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  .url-shortener__form-field {
    width: 600px;
    height: 70px;

    border: none;
    border-radius: 15px;
    background-color: #65667C;
    padding: 0 20px;
    outline: none;

    color: #FFFFFF;
    font-size: 24px;

    &:focus {
      box-shadow: 4px 4px 7px rgba($color: #000000, $alpha: 0.2);
    }
  }

  .url-shortener__btn {
    width: 70px;
    height: 70px;

    border: none;
    border-radius: 15px;
    background-color: #65667C;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: background-color .2s;
    position: relative;

    &:hover {
      background-color: #75768e;
    }
  }
}

@media (max-width: 768px) {
  .url-shortener__form-container {
    flex-direction: column;

    .url-shortener__form-field {
      width: 100%;
    }
  }
}

// url-shortened__container

.url-shortened__container {
  display: none;
}